@font-face {
  font-family: Slabo;
  src: url(fonts/Slabo-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
 font-family: Slabo;
 font-size: var(--text-size);
 background-color: var(--background-color);
 color: var(--text-color);
}

a {
  user-select: none;
}

a:visited, a:active {
  color: var(--visited-link-color);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sketch {
  height: 80vh;
  width: 80vh;

  touch-action: none;
}

.title,.footer {
  position: absolute;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  top: 1vh;
  font-size: 3rem;
  flex-direction: column;
}

.footer {
  bottom: 1vh;
   font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: var(--mobile-text-size);
  }

  .mobile { 
    display: initial;
  }

  #sketch {
    height: 95vw;
    width: 95vw;
  }

  .title {
    font-size: 2rem;
    top: 5vh;
  }

  .footer {
    font-size: 1rem;
    bottom: 2vh;
  }
}